@model RegisterUserViewModel
@{
    ViewData["Title"] = "AddAdmin";
}
<h1>AddAdmin</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAdmin">
            <partial name="Partialview" model="@Model" />
        </form>
    </div>
</div>
